# Ignore virtual environments
venv/

# Ignore system files
__pycache__/
*.pyc

# Ignore VS Code or IDE settings
.vscode/
.idea/

# Ignore input/output folders
input/
output/

# Ignore OS files
.DS_Store
Thumbs.db
